{% load static %}

 <!-- footer part start-->
 <footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="{% url 'index' %}"> <img src="{% static 'img/wsd2.png' %}" alt=""> </a>
                    </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Quick Links</h4>
                    <div class="contact_info">
                        <ul>
                            <li>
                                <a target="_blank" href="{ url 'http://www.wrc.org.za/' %}'" >Water Research Commission</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">SA Guidelines And Policies</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
           <!-- <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Affiliated Projects</h4>
                    <p> 	Pathways to water resilient South African cities (PaWS</p>
                    <p>	Water Hub (some text, pictures and links)</p>
                    <p>	Regenerative water futures: Tensions around water scarcity and the mining industry.</p>
                    <p> Benchmarking and implementation strategy for the transition towards a Water Sensitive Cape Town</p>
                    <p> Student Research </p>
                            
                </div>
            </div>-->
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact info</h4>
                    <div class="contact_info"> 
                        
                        <p><span> Address :</span> University of Cape Town</p>
                        <p><span> Email : </span>Kirsty.Carden@uct.ac.za </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</footer>
<!-- footer part end-->
