{% extends 'base.html' %}

{% block content %}
{% load static %}

<section >
    <div class="container">
        <div class="row">
            <div >
                <div >
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <h2>SA GUIDELINES AND POLICIES
                            </h2>                             
                        </div>
                        <br>
                        <p>
                            The following sites have to a greater or lesser extent employed some or other WSUD strategy. The sites are grouped according to region/province. It is encouraging to see the number of sites increasing! If you would like to register a site / WSUD initiative please complete the form at the bottom.
                        </p>
                        <br>
                        <h3> South African SuDS/WSUD Guidelines</h3>
                        <div class="">
                            <ol class="ordered-list">
                               <a href="http://www.wrc.org.za/Pages/DisplayItem.aspx?ItemID=10843&FromURL=%2fPages%2fKH_AdvancedSearch.aspx%3fdt%3d%26ms%3d%26d%3dWater+Sensitive+Urban+Design+(WSUD)+for+South+Africa%3a+Framework+and+guidelines%26start%3d1">  <li><span>Water Sensitive Urban Design (WSUD) for South Africa: Framework and guidelines *NEW</span></li> </a>
                               <a href="{% url 'rainbow' %}"><li><span> South African Guidelines for Sustainable Drainage Systems</span></li> </a>
                               <a href="{% url 'wits' %}"><li><span>Project Report and Case Studies </span></li></a>
                               <a href="{% url 'wits' %}"><li><span>SuDS Conceptual Design (Poster)</span></li></a>
                               <a href="{% url 'wits' %}"><li><span>Working SuDS into the City (Poster) </span></li></a>

                            </ol>
                        </div>
                        <h3> South African National Guidelines</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="https://www.csir.co.za/guidelines-human-settlement-planning-and-design-red-book" target="_blank"> <li><span>Guidelines for Human Settlement Planning and Design (The Red Book) Volume 1 & 2</span></li></a>
                                <a href="http://www.cogta.gov.za/mig/" target="_blank"> <li><span> Municipal Infrastructure Grant Manual</span></li></a>

                            </ol>
                        </div>
                        <h3> City of Cape Town Stormwater Policies</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="http://resource.capetown.gov.za/documentcentre/Documents/Bylaws%20and%20policies/Catchment%20Stormwater%20and%20River%20Management%20Strategy%20Final%20Draft%20Policy%20-%20approved%20on%2031%20July%202002.pdf" target="_blank"><li><span>  Catchment, Stormwater and River Management Strategy (2002)</span></li></a>
                                <a href="http://resource.capetown.gov.za/documentcentre/Documents/Bylaws%20and%20policies/Management%20of%20Urban%20Stormwater%20Impacts%20Policy%20-%20approved%20on%2027%20May%202009.pdf" target="_blank"><li><span> Management of Urban Stormwater Impacts Policy (2009)</span></li></a>
                                <a href="http://resource.capetown.gov.za/documentcentre/Documents/Bylaws%20and%20policies/Management%20of%20Urban%20Stormwater%20Impacts%20Policy%20-%20approved%20on%2027%20May%202009.pdf" target=_blank><li><span>  Floodplain and River Corridor Management Policy (2009)</span></li></a>
                                <a href="http://resource.capetown.gov.za/documentcentre/Documents/Bylaws%20and%20policies/Urban%20Design%20-%20(Policy%20number%2012986)%20approved%20on%2004%20December%202013.pdf" target="_blabk"><li><span>  Urban Design Policy (2014)</span></li></ul></a>

                            </ol>
                        </div>
                        <h3> City of Johannesburg</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="http://www.joburg-archive.co.za/2009/pdfs/bylaws/draft_bylaws09.pdf" target="_blank"><li><span> 2009 Draft Stormwater by-laws</span></li></a>
                                <a href="https://issuu.com/cojdocuments/docs/complete_streets_design_guideline_m" target="_blanks"><li><span> Complete Streets Design Guideline Manual</span></li></a>

                            </ol>
                        </div>

                        
                
                    </article>

                </div>
            </div>
                    
        </div>
    </div>
</section>
{%endblock%}