{% extends 'base.html' %}

{% block content %}
{% load static %}

<section >
    <div class="container">
        <div class="row">
            <div >
                <div >
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <h2>USEFUL WEBSITES
                            </h2>                             
                        </div>
                        <br>
                        <p>
                           The following websites are considered useful for furthering your knowledge about WSUD. Should you find a link out of order please notify us using the form below.                        </p>
                        <br>
                        <h3> National Websites</h3>
                        <div class="">
                            <ol class="ordered-list">
                               <a href="http://www.wrc.org.za/">  <li><span>Water Research Commission </span></li> </a>
                               <a href="http://www.ewisa.co.za/"><li><span> eWISA</span></li> </a>

                            </ol>
                        </div>
                        <h3> Municipality Websites</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="https://www.joburg.org.za/Pages/PageNotFoundError.aspx?requestUrl=https://www.joburg.org.za/bylaws" target="_blank"> <li><span>City of Johannesburg : Bylaws </span></li></a>
                                <a href="https://www.joburg.org.za/Pages/PageNotFoundError.aspx?requestUrl=https://www.joburg.org.za/water" target="_blank"> <li><span> City of Johannesburg : Water & Sanitation</span></li></a>

                            </ol>
                        </div>
                        <h3> Databases</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="http://www.bmpdatabase.org/" target="_blank"><li><span>  BMP Database</span></li></a>
                                <a href="https://www.ciria.org/Shared_Content/404.aspx?aspxerrorpath=/imis_live/404.aspx" target="_blank"><li><span> UK SuDS Database</span></li></a>
                                
                            </ol>
                        </div>
                        <h3> Software</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="http://www.chiwater.com/Software/PCSWMM/index.asp" target="_blank"><li><span> PCSWMM</span></li></a>
                                <a href="https://www.epa.gov/sites/production/files/signpost/index.html#Description" target="_blanks"><li><span> SWMM</span></li></a>
                                <a href="https://toolkit.ewater.org.au/music" target="_blanks"><li><span> MUSIC</span></li></a>


                            </ol>
                        </div>
                        <h3> Video Clips</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="https://www.google.co.za/search?rlz=1C1GGGE_enZA443ZA443&gcx=c&sourceid=chrome&ie=UTF-8&q=Brisbane+floods#q=Brisbane+floods&hl=en&rlz=1C1GGGE_enZA443ZA443&prmd=imvns&source=lnms&tbm=vid&ei=gqaeTtfyK8rn-gaa_YGEDQ&sa=X&oi=mode_link&ct=mode&cd=4&ved=0CBIQ_AUoAw&bav=on.2,or.r_gc.r_pw.,cf.osb&fp=c4d6ed915f2eaf40&biw=1366&bih=667" target="_blank"><li><span> Flooding in Australia (2011)</span></li></a>
                                
                            </ol>
                        </div>
                        <h3> Addtional</h3>
                        <div class="">
                            <ol class="ordered-list">
                                <a href="https://www.casqa.org/" target="_blank"><li><span> California Stormwater Quality Association</span></li></a>
                                <a href="http://www.mrsc.org/subjects/environment/water/sw-bmp.aspx" target="_blanks"><li><span> Municipal Research and Services Center Washington</span></li></a>
                                <a href="http://stormwaterbook.safl.umn.edu/" target="_blanks"><li><span> University of Minnesota – SuDS Operation & Maintenance</span></li></a>
                                <a href="https://www.melbournewater.com.au/content/drainage_and_stormwater/drainage_and_stormwater.asp" target="_blanks"><li><span> Melbourne Water : Stormwater Website v  </span></li></a>


                            </ol>
                        </div>

                        
                
                    </article>

                </div>
            </div>
                    
        </div>
    </div>
</section>
{%endblock%}