{% extends 'base.html' %}

{% block content %}
{% load static %}

<section >
    <div class="container">
        <div class="row">
            <div >
                <div >
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <h2>WSD EXPERTISE DATABASE 
                            </h2>                             
                        </div>
                       
                        <table id="myTable" >  
                            <thead>  
                              <tr>  
                                <th>NAME</th>  
                                <th>QUALIFICATIONS</th>  
                                <th>AREA OF EXPERTISE</th>  
                                <th>CONTACT DETAILS</th> 
                                <th> LINKS </th> 
                              </tr>  
                            </thead>  
                            <tbody>  
                              <tr>  
                                <td>Aaisha Dollie </td>  
                                <td>BSc Civil Engineering</td>  
                                <td>-</td>  
                                <td>xxx@gmail.com </td>  
                                <td>-</td>
                              </tr>  
                              <tr>  
                                <td>Chris Buckley </td>  
                                <td>PhD, Pr. Eng </td>  
                                <td>-</td>  
                                <td>-</td>  
                                <td>-</td>
    
                              </tr>  
                              
    
                            </tbody> 
                            <div class="table-responsive">
                                <table id="myTable" class="display table" width="100%" > 
                          </table>  
                    

                        
                
                    </article>

                </div>
            </div>
                    <div class="col-lg-4">
         
        </div>
        </div>
    </div>
</section>
{%endblock%}