
 {% extends 'base.html' %}

 {% block content %}
 {% load static %}
 <section >
     <div class="container">
        <div class="row">
           <div >
              <div >
                 
                 <div class="blog_details">
                    <h2>
                        UPCOMING EVENTS
                    </h2>
                    
                 </div>
              </div>
             
       
           </div>
          
           </div>
        </div>
     </div>
  </section>
 
  
 
 {% endblock %}
 