
 {% extends 'base.html' %}

 {% block content %}
 {% load static %}
 <section >
     <div class="container">
        <div class="row">
           <div >
              <div >
                 
                 <div class="blog_details">
                    <h2>
                        WSD TRAINING
                    </h2>
                    <p class="excert">
                        The WSD CoP has presented various WSD / SuDS training workshops, seminars and information sessions since its inception in 2014.
                    </p>
                 </div>
              </div>
             
       
           </div>
          
           </div>
        </div>
     </div>
  </section>
 
  
 
 {% endblock %}
 